*{
    padding: 0;
    margin: 0;
}

.text-box{
    margin-top: 20px;
    margin-bottom: 40px;
}

/*  marketing */

.marketing{
    margin-bottom: 40px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.img-box{
    width: 140px; 
    height: 140px;
}


footer{
    margin-top: 50px;
    text-align: center;
    background-color: #D7CCC8;
    height: 200px;
    padding-top: 3%;
} 

.tel{
    height: 35px;
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: center;
}

.img-fl{
    height: 25px;
    width: 30px;
    padding-left: 5px;
    margin-left: 5px;
}

.tel-soc{
    margin-top: 20px;
    margin-bottom: 10px;
}

.box{
    width: 100%;
    background-color: #EFEBE9;
    padding-top: 30px;
    margin-bottom: 50px;
}

h1{font-family: 'Marck Script', cursive;}
/* h1{font-family: 'Bad Script', cursive;} */

.top-img{
    height: 100vh;
    background: url("../img/h2-slide-img-1.png") 50% no-repeat;
}

/* .top-text {
    margin: -3.5em 1.5em;
    position: absolute;
    left: 15%;
    color: black;
    top: 20%;
}  */

.top-text{
    color: black;
}
.flex-center{
    display: flex;
    justify-content: center
}

.top-box{
    width: 40%;

}








































